name: Concurrency
on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  job-1:
    runs-on: ubuntu-slim
    steps:
      - name: Sleep for 100
        run: sleep 100