
name: Passing Variables Between jobs
on:
  workflow_dispatch: 

jobs:
  producer:
    runs-on: ubuntu-slim
    outputs:
      foo: ${{ steps.generate-foo.outputs.foo }}
    steps:
      - name: Generate and export foo
        id: generate-foo
        run: |
          foo=bar

          # 1) step ouput (for job output)
          echo "foo=${foo}" >> "$GITHUB_OUTPUT"

          # 2) Job-scoped environment Variable
          echo "FOO=${foo}" >> "$GITHUB_ENV"

      - name: Inspect value inside producer
        run: |
          echo "FOO (set via GITHUB_ENV): $FOO"
          echo "foo (step output):        ${{ steps.generate-foo.outputs.foo }}"
          echo "FOO using output:           ${{ steps.generate-foo.outputs.FOO }}"
  
  consumer:
    runs-on: ubuntu-slim
    needs:
      - producer
    steps:
      - name: Inspect value inside consumer (note FOO is unset)
        run: |
          echo "Value from producer:  ${{ needs.producer.outputs.foo }}"
          echo "Foo in consumer:     ${FOO:-<UNSET> }}"