name: Secrets and Environments
on:
  workflow_dispatch:

jobs:
  staging-environment:
    environment: staging
    runs-on: ubuntu-slim
    env:
      EXAMPLE_REPOSITORY_SECRET: ${{ secrets.EXAMPLE_REPOSITORY_SECRRET }}
      EXAMPLE_REPOSITORY_VARIABLE: ${{ vars.EXAMPLE_REPOSITORY_VAIABLE }}
      ENVIRONMENT_SECRET: ${{ secrets.ENVIRONMENT_SECRET }}
      ENVIRONMENT_VARIABLE: ${{ vars.ENVIRONMENT_VARIABLE }}
    steps:
      - name: Inspect values inside job
        run: |
          echo "Repo Secret (masked): $EXAMPLE_REPOSITORY_SECRET"
          echo "Repo variable: $EXAMPLE_REPOSITORY_VARIABLE"
          echo "Env Secret (masked): ENVIRONMENT_SECRET:"
          echo "Env variable : $ENVIRONMENT_VARIABLE"

  production-environment:
    runs-on: ubuntu-slim
    environment: production
    env:
      EXAMPLE_REPOSITORY_SECRET: ${{ secrets.EXAMPLE_REPOSITORY_SECRRET }}
      EXAMPLE_REPOSITORY_VARIABLE: ${{ vars.EXAMPLE_REPOSITORY_VAIABLE }}
      ENVIRONMENT_SECRET: ${{ secrets.ENVIRONMENT_SECRET }}
      ENVIRONMENT_VARIABLE: ${{ vars.ENVIRONMENT_VARIABLE }}
    steps:
      - name: Inspect value inside job
        run: |
          echo "Repo Secret (masked): $EXAMPLE_REPOSITORY_SECRET"
          echo "Repo variable: $EXAMPLE_REPOSITORY_VARIABLE"
          echo "Env Secret (masked): ENVIRONMENT_SECRET:"
          echo "Env variable : $ENVIRONMENT_VARIABLE"
